@use 'colors';

:host ::ng-deep .customCalendarStyle {
  thead {
    color: colors.$redColor;
  }
  .ui-datepicker-weeknumber {
    color: colors.$yellowColor;
  }
  .ui-datepicker-today .ui-state-default {
    background-color: colors.$blueColor;
  }
}
.sessionStorage {
  padding: 2rem;
  border: 0.1rem dashed colors.$redColor;
  width: 300px;
}
.expired {
  color: colors.$redColor;
}

