@use 'colors';

:host ::ng-deep .customCalendarStyle {
  thead {
    color: colors.$redColor;
  }
  .ui-datepicker-weeknumber {
    color: colors.$yellowColor;
  }
  .ui-datepicker-today .ui-state-default {
    background-color: colors.$blueColor;
  }
}

