<div class="content-section implementation">
  <div class="card">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-12 p-md-4">
        <p-calendar
          [(ngModel)]="date1"
          [showIcon]="true"
          [showWeek]="true"
          [locale]="ru"
          styleClass="customCalendarStyle">
        </p-calendar>
      </div>
    </div>
  </div>
  <div class="sessionStorage">
    <div>
      Session StartTime:
      <span> {{startTime | date : 'HH:mm:ss'}}</span>
    </div>
    <div *ngIf="timerexpired">
      Session FinishTime:
      <span> {{finishTime | date : 'HH:mm:ss'}}</span>
    </div>
    <div *ngIf="timerexpired">
      <span class="expired"> Session time is expired</span>
    </div>
    <div *ngIf="!timerexpired">
      Session Timer:
      <span *ngIf="timer > 60"> {{floor(timer/60) | number : '1.0-0'}} m </span>
      <span> {{timer%60}} s </span>
    </div>
  </div>
</div>
